.light-bulb {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  background-color: black;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.show-count-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.change-count-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;

}